<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <!-- navbar section  -->
    <nav id="navbar" class="flex s-around bg-color">
      <div class="left-nav">
        <h2 class="t-white">Portfolio</h2>
      </div>
      <div class="right-nav">
        <li>
          <a href="#home" class="t-white roboto"
            >Home <i class="fa-solid fa-house"> </i
          ></a>
        </li>
        <li>
          <a href="#about" class="t-white roboto"
            >About me <i class="fa-solid fa-"> </i
          ></a>
        </li>
        <li>
          <a href="#skills" class="t-white roboto"
            >Skills <i class="fa-solid fa-code"> </i
          ></a>
        </li>
        <li>
          <a href="#porjects" class="t-white roboto"
            >Project <i class="fa-solid fa-project-diagarm"> </i
          ></a>
        </li>
        <li>
          <a href="#contact" class="t-white roboto"
            >Contact <i class="fa-solid fa-house"> </i
          ></a>
        </li>
      </div>
    </nav>

    <!-- home section  -->
    <section id="home" class="flex s-around sw-80 m-auto">
      <div class="home-left flext items-center">
        <div class="home-content">
          <h6 class="popinss">Hi, i'm</h6>
          <h1 class="t-white">Emon Khan</h1>
          <h4 class="popinss">Software Engineer</h4>
          <a href="{%static 'pdf/django.pdf'%}" target="_blank">
            <button class="btn popinss">Resume</button>
          </a>
          <a class="btn live popinss" id="hirme" href="" target="_blank"
            >lets talk</a
          >
        </div>
      </div>
      <div class="home-right flex s-center items-center">
        <div class="circle flex s-center items-center" id="mainimage">
          <img src="{% static 'images/emon.png'%}" alt="picture" />
        </div>
      </div>
    </section>

    <!-- about section  -->
    <section id="about">
      <h1 class="t-center my-2 t-white f-2" style="text-align: center">
        About<menu></menu>
      </h1>
      <div class="about-container flex s-around">
        <div class="about-left flex s-center items-center">
          <img src="{% static 'images/about.jpg'%}" alt="image" />
        </div>
      </div>

      <div class="about-right flex">
        <div class="about-content">
          <div
            style="
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 100%;
            "
          >
            <h1 class="t-white m-b-1 popinss" style="text-align: center">
              Emon Khan
            </h1>
            <p
              class="t-white popinss"
              style="text-align: center; max-width: 700px"
            >
              Hi, I'm a passionate and curious learner currently diving into the
              world of software engineering. I'm actively building my skills in
              programming, problem-solving, and software development through
              hands-on practice and continuous learning. Right now, I’m focusing
              on mastering the fundamentals of languages like Python,
              JavaScript, and C++, while also exploring web development, data
              structures, and algorithms. I believe in learning by doing, so I
              often work on small projects to apply what I learn and improve my
              understanding. My goal is to grow into a well-rounded software
              engineer who can build meaningful solutions and contribute to
              real-world projects. This portfolio is a reflection of my learning
              journey — every step, project, and piece of code brings me closer
              to that goal.
            </p>
          </div>
          <a href="btn" id="hireme" href="">Hire me </a>
        </div>
      </div>
    </section>

    <!-- skill  -->
    <section id="skills">
      <h1 class="t-center my-2 t-white f-2" style="text-align: center">
        Skills
      </h1>
      <div class="services-sentainer flex s-around h-50">
        <div class="skills-left flex s-center items-center">
          <img src="{%static 'images/skills.jpg'%}" alt="skills image" />
        </div>
        <div class="skills-right flex items-center">
          <div class="skills-container">
            <div class="java bar p-relative">
              <span class="bar-content left t-white">Core java</span>
              <span class="bar-content right-skills t-white">90%</span>
            </div>

            <div class="html bar p-relative">
              <span class="bar-content left t-white">HTML</span>
              <span class="bar-content right-skills t-white">90%</span>
            </div>

            <div class="css bar p-relative">
              <span class="bar-content left t-white">CSS</span>
              <span class="bar-content right-skills t-white">90%</span>
            </div>

            <div class="js bar p-relative">
              <span class="bar-content left t-white">Javascript</span>
              <span class="bar-content right-skills t-white">80%</span>
            </div>

            <div class="sql bar p-relative">
              <span class="bar-content left t-white">MYSQL</span>
              <span class="bar-content right-skills t-white">90%</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- project section  -->
    <section id="Project">
      <h1 class="t-center my-2 t-white f-2" style="text-align: center">
        Projects
      </h1>
      <div class="project-container flex s-center">
        <div class="project-item flex f-col s-center items-center">
          <h1 class="t-white popinss">SmartSchool-Mangement</h1>
          <p class="t-white popinss">
            SmartSchool Management is a web-based system that helps schools
            manage students, teachers, attendance, exams, fees, and
            communication—all in one platform.
          </p>
          <div class="button flex s-around">
            <a
              href="https://github.com/emon-create/SmartSchool-Mangement"
              target="_blank"
              class="btn mx-1 m-top"
              >Github</a
            >
          </div>
        </div>

        <div class="project-item flex f-col s-center items-center">
          <h1 class="t-white popinss">mini project online cv generator</h1>
          <p class="t-white popinss">
            Online CV Generator is a simple web application that allows users to
            create professional resumes by entering personal, educational, and
            work details. It automatically formats the input into a downloadable
            CV.
          </p>
          <div class="button flex s-around">
            <a
              href="https://github.com/emon-create/Internet-Programming/blob/main/mini%20project%20online%20cv%20generator/online_cv.html"
              target="_blank"
              class="btn mx-1 m-top"
              >Github</a
            >
          </div>
        </div>
      </div>
    </section>

    <!-- section asdf -->
    <section id="Contact" class="m-b-1">
      <h1 class="t-center my-2 t-white f-2" style="text-align: center">
        Contact me
      </h1>
      <div class="Contact-container flex s-around items-center">
        <div class="form" id="contactfrom">
          <form method="post">
            {% csrf_token %}
            <div class="name form-div">
              <input
                type="text"
                name="name"
                id="name"
                class="popinss"
                placeholder="Enter your name"
              />
            </div>

            <div class="email form-div">
              <input
                type="email"
                name="email"
                id=""
                class="popinss"
                placeholder="Enter your email"
                required
              />
            </div>

            <div class="phone form-div">
              <input
                type="phone"
                name="number"
                id=""
                class="popinss"
                placeholder="Enter your Phone"
                required
              />
            </div>

            <div class="textares form-div">
              <input
                name="content"
                id="textarea"
                cols="30"
                row="90"
                class="popinss"
                placeholder="Enter your text"
              />
            </div>
            <button type=" submit" class="btn popinss" id="submit">Send</button>
          </form>
        </div>
      </div>
    </section>

    <footer id="footer">
      <ul class="flex s-center w-80 m-auto my-2 res">
        <li><a href="#home" class="popinss">Home</a></li>
        <li><a href="#about" class="popinss">About</a></li>
        <li><a href="#skills" class="popinss">Skills</a></li>
        <li><a href="#porject" class="popinss">Project</a></li>
        <li><a href="#porftolio" class="Porftolio">Home</a></li>
      </ul>
      <ul class="flex s-center w-80 font-awesome">
        <a href="" target="_blank">
          <li><i class="fa-brands fa-linkedin-in"></i></li>
        </a>

        <a href="" target="_blank">
          <li><i class="fa-brands fa-github"></i></li>
        </a>

        <a href="" target="_blank">
          <li><i class="fa-brands fa-instagram"></i></li>
        </a>
      </ul>
      <p class="t-center my-2 popinss">
        &copy; 2025 All Rights Reserved |
        <span class="cpy-white popinss">Developer By Emon Khan</span>
      </p>
    </footer>
  </body>
</html>
